body{
    background-color: #000;
}
p{
    color:aliceblue;
}
input{
  margin-left: 100px;
}

/* header{
  background-image: linear-gradient(rgb(100, 13, 13), rgb(0, 0, 0));
}
{  #header2{
  background-image: linear-gradient(rgb(0, 0, 0), rgb(100, 13, 13));
}
